 :root{
    --main-color: rgba(255, 255, 255, 0.877);
 }
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
    background-color: #000;
}
 
header {
    background-color: black;
    position: fixed;
    width: 100%;
}


 .header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;  
    min-height: 97px;
}
.header-content::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #ced5d6;
    bottom: 0;
    width: 95%;
}

.logo {
    width: 212px;
    height: 125px;
    margin-left: 2px;
}


header nav{
    height: 114px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .material-icons{
    width: 40px;
    color: white;
    font-size: 30px;
    margin-top: 95px;
    margin-right: 24px;
 }

 @media (min-width: 1000px) {
    header nav .material-icons{
    display: none;

    }
 }
header nav ul{
    display: flex;
}
@media (max-width: 1000px){
    header nav ul{
        display: none;
    }
    header nav .material-icons:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 43px;
        width: 17%;
        background-color: #000203a8;
    }
    header nav .material-icons + ul li a{
       padding: 15px !important;    
    }

}
li{
    display: block;
    text-decoration: none;
}

.srf-link{
    margin-top: -7px;
    display:flex;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}
.sf-link{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.4rem;
}


header nav ul li a{
    padding: 40px 10px;
    display: flex;
    color: white;
    transform: 0.3s;
    position: relative;
    z-index: 2;
    align-items: center;
} 
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

 .content-area {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    padding-top: 20px;
  
}



main {
    display: flex;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(226 225 253);
    overflow-y: auto;
    padding-top: 3px;
    margin-top: 122px;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;                  
}

.content-img{
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
}                      

.main-link {
 
    width: 500px;
    height: 700px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 62px;
    cursor: pointer;
    flex-direction: column;
    text-decoration: none;
}


.content-img  img{
    width: 100%;
    height: 100%;
    padding-bottom: 6px;
    padding-left: 18px;
}

.content-title {
    margin-top: 10px;
    margin-right: 36%;
    text-align: right;
    flex-direction:column;
    color: black;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-decoration: none;
}  

.box-link{
    width: 50%;
    color: #000;
    border: 3px;
    border-color: #080808a6;
    border-style: ridge;
    margin-left: 25%;
    margin-top: 10px;
    display: flex;
    padding: 5px;
}

.ul-link{ 
    width: 100%;
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.4rem;
    justify-content: space-evenly;
    
}

.services-container{
    display: flex;
}

footer div{
    width: 100%;
    background-color: #e2e1fd;
    height: 100%;
    display: flex;
    margin-top: 8px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
}
